@import "tailwindcss";
* {
  font-family: "Cormorant", serif;
  font-size: 25px;
}

.logo {
  max-width: 10%;
  min-width: 50px;
}

.logosTools {
  max-width: 5%;
  min-width: none;
}

.name {
  font-family: "Caveat", serif;
  font-size: 75px;
}

.major {
  font-style: italic;
}

.mobileborderCards {
  border-style: solid;
  border-width: 2px;
  border-color: black;

  .fade-element {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border: 2px solid red; /* DEBUG */
    background: yellow; /* DEBUG */
    min-height: 100px; /* DEBUG */
  }

  .fade-element.visible {
    opacity: 1;
  }
}

@media screen and (max-width: 425px) {
  .removeExpand {
    display: none;
  }
  .mobileLinks {
    border-bottom: solid;
  }
  .nav {
    justify-content: center;
  }
  .name {
    text-align: center;
  }
  .block_about {
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .logo {
    max-width: 50px;
    height: 50px;
    margin-left: 10px;
  }
  .toolsLogos {
    max-width: 10%;
    min-width: 50px;
  }
  .card {
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
  }
  .intro_text {
    padding-bottom: 100px;
  }
  .e-logo {
    padding-top: 50px;
    justify-content: center;
  }
  .name-mobile {
    padding-top: 10px;
  }
}
